# Mice 補值

In [76]:
import pandas as pd 
import numpy as np

In [77]:
train_df=pd.read_csv('data/train.csv')

In [78]:
test_df=pd.read_csv('data/test.csv')

In [79]:
all_data=pd.concat([train_df,test_df])

In [81]:
all_data_X=all_data.iloc[:,:-1]

In [82]:
all_data_y=all_data.iloc[:,-1]

In [83]:
# select the numeric columns
df_num = all_data_X.select_dtypes(include=[np.number])
# select non-numeric columns
df_non_num = all_data_X.select_dtypes(exclude=[np.number])

In [84]:
df_num

,loading,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,measurement_4,measurement_5,measurement_6,...,measurement_8,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17
0,80.10,9,5,7,8,4,18.040,12.518,15.748,19.292,...,20.155,10.672,15.859,17.594,15.193,15.029,NaN,13.034,14.684,764.100
1,84.89,9,5,14,3,3,18.213,11.540,17.717,17.893,...,17.889,12.448,17.947,17.915,11.755,14.732,15.425,14.395,15.631,682.057
2,82.43,9,5,12,1,5,18.057,11.652,16.738,18.240,...,18.288,12.715,15.607,NaN,13.798,16.711,18.631,14.094,17.946,663.376
3,101.07,9,5,13,2,6,17.295,11.188,18.576,18.339,...,19.060,12.471,16.346,18.377,10.020,15.250,15.562,16.154,17.172,826.282
4,188.06,9,5,9,2,8,19.346,12.950,16.990,15.746,...,18.093,10.337,17.082,19.932,12.428,16.182,12.760,13.153,16.412,579.885
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20770,144.74,9,5,0,4,9,18.465,12.570,18.146,17.089,...,18.573,11.691,NaN,19.771,11.562,17.246,15.131,15.209,NaN,696.466
20771,74.53,9,5,4,8,7,18.900,9.896,18.288,NaN,...,17.917,10.980,16.027,15.694,13.564,15.494,15.296,13.812,16.501,613.249
20772,67.73,9,5,10,11,2,18.656,NaN,18.242,17.910,...,19.630,10.436,16.137,20.612,11.134,16.519,15.525,14.175,17.728,783.349
20773,126.15,9,5,8,16,11,16.536,11.226,18.144,17.250,...,19.575,12.672,15.422,19.496,9.319,15.817,17.403,16.437,15.179,745.210
20774,85.97,9,5,0,11,11,18.373,11.210,17.030,18.406,...,19.253,9.977,17.270,17.924,13.726,14.605,17.460,16.261,16.482,647.980

In [85]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
import xgboost

data=df_num.copy()

#setting up the imputer

imp = IterativeImputer(
    estimator=xgboost.XGBRegressor(
        n_estimators=5,
        random_state=1,
        #tree_method='gpu_hist',
    ),
    missing_values=np.nan,
    max_iter=30,
    initial_strategy='mean',
    imputation_order='ascending',
    verbose=2,
    random_state=1
)

data[:] = imp.fit_transform(data)
data.shape

[IterativeImputer] Completing matrix with shape (47345, 21)
[IterativeImputer] Ending imputation round 1/30, elapsed time 3.65
[IterativeImputer] Change: 354.45197115182725, scaled tolerance: 1.3127939999999998
[IterativeImputer] Ending imputation round 2/30, elapsed time 7.50
[IterativeImputer] Change: 110.16461181640625, scaled tolerance: 1.3127939999999998
[IterativeImputer] Ending imputation round 3/30, elapsed time 11.39
[IterativeImputer] Change: 51.22221565246582, scaled tolerance: 1.3127939999999998
[IterativeImputer] Ending imputation round 4/30, elapsed time 15.41
[IterativeImputer] Change: 91.69209003448486, scaled tolerance: 1.3127939999999998

KeyboardInterrupt:

In [ ]:
df_num_imp=data

In [ ]:
all_data_X_imp=pd.concat([df_num_imp,df_non_num,all_data_y],axis=1)

In [ ]:
all_data_X_imp

In [ ]:
all_train_new=all_data_X_imp[~all_data_X_imp['failure'].isnull()]
all_train_new.to_csv('data/train_imp.csv',index=False)

In [ ]:
all_test_new=all_data_X_imp[all_data_X_imp['failure'].isnull()]
all_test_new.to_csv('data/test_imp.csv',index=False)