In [30]:
from datetime import datetime
import pickle
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

In [51]:
model_loaded = pickle.load(open('model/'+'2022_08_25_17_37_15'+"_xgboost_model.pkl", "rb"))

In [52]:
train_df=pd.read_pickle('feature/'+'2022_08_02_02_07_48'+'_train.pkl')

In [53]:
test_df=pd.read_pickle('feature/'+'2022_08_02_02_07_48'+'_test.pkl')

In [54]:
X=train_df.iloc[:,1:-2]
y=train_df.iloc[:,-1]
X_test=test_df.iloc[:,1:-2]

In [55]:
X.head()

,loading,measurement_0,measurement_1,measurement_2,measurement_3,measurement_4,measurement_5,measurement_6,measurement_7,measurement_8,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17
0,80.10,7.0,8.0,4.0,18.040,12.518,15.748,19.292,11.739,20.155,10.672,15.859,17.59400,15.193,15.029,13.638146,13.034,14.684,764.100
1,84.89,14.0,3.0,3.0,18.213,11.540,17.717,17.893,12.748,17.889,12.448,17.947,17.91500,11.755,14.732,15.425000,14.395,15.631,682.057
2,82.43,12.0,1.0,5.0,18.057,11.652,16.738,18.240,12.718,18.288,12.715,15.607,15.93469,13.798,16.711,18.631000,14.094,17.946,663.376
3,101.07,13.0,2.0,6.0,17.295,11.188,18.576,18.339,12.583,19.060,12.471,16.346,18.37700,10.020,15.250,15.562000,16.154,17.172,826.282
4,188.06,9.0,2.0,8.0,19.346,12.950,16.990,15.746,11.306,18.093,10.337,17.082,19.93200,12.428,16.182,12.760000,13.153,16.412,579.885

In [56]:
#model_loaded.fit(X, y)
#pred_prob=model_loaded.predict_proba(X_test)
pred_prob=model_loaded.predict(X_test)

In [57]:
submission = pd.read_csv('data/sample_submission.csv')

In [58]:
from datetime import datetime
now = datetime.now()
current_time = now.strftime("%Y_%m_%d_%H_%M_%S")
print("Current Time =", current_time)

Current Time = 2022_08_25_17_37_25

In [59]:
%%time
#submission['failure'] = pred_prob[:,1]
submission['failure'] = pred_prob
submission.to_csv('result/'+current_time+'_result.csv', index = False)
submission.head()

Wall time: 41.9 ms

      id   failure
0  26570  0.356667
1  26571  0.353774
2  26572  0.354849
3  26573  0.354198
4  26574  0.388309

In [60]:
pred_prob

array([0.35666698, 0.35377428, 0.3548485 , ..., 0.34420514, 0.35910785,
       0.3413445 ], dtype=float32)